title = "Прейскурант цен на аттракционы"
url = "/attractions/price-list"
layout = "main-layout"
is_hidden = 0

[builderList]
modelClass = "Nikita\Content\Models\Price"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<div class="page-wrapper">
    <div class="standard-block">
    	
    	{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

        <table class="attractions-price__table">
            <tr class="attractions-price__table__title text-center">

                <td rowspan="2">№</td>
                <td rowspan="2">Наименование аттракциона</td>
                <td rowspan="2">Тип аттракциона</td>
                <td colspan="2">Цена билета</td>
                <td rowspan="2">Режим работы</td>

            </tr>

            <tr>
                <td class=" text-center">Будние дни</td>
                <td class=" text-center">Выходные дни</td>

            </tr>

            {% for record in records %}
            <tr>
                <td class="attractions-price__table__title text-center">{{record.id}}</td>
                <td class="attractions-price__table__name">{{record.title}}</td>
                <td class="attractions-price__table__name">{{record.type}}</td>
                <td class="attractions-price__table__price text-center">{{record.weekdays}} руб.</td>
                <td class=" text-center attractions-price__table__price">{{record.weekend}} руб.</td>
                <td class="attractions-price__table__title text-center">{{record.hours}}</td>
            </tr>

            {% endfor %}


        </table>



    </div>


</div>