title = "F.A.Q"
url = "/faq"
layout = "main-layout"
is_hidden = 0

[builderList]
modelClass = "Nikita\Content\Models\FAQ"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<div class="standard-block page__title  text-align-center">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</div>
<div class="page-wrapper">

{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

	<div class="standard-block ">

	{% set i=0 %}

		<div class="faq_column">
{% for record in records %}
			{% if i%2 == 0 %}
	<div class="faq-block"  style="float:right;" >

		<div class="faq__arrow-block-wrapper">
			<div class="faq__arrow-block faq-open" to="{{record.id}}" id="arrow-{{record.id}}"></div>
		</div>

		<div class="faq__content">
			<div class="faq__title faq-open" to="{{record.id}}">
				{{record.title}}
			</div>

			<div class="faq__body" id="body-{{record.id}}">
				{{record.content}}
			</div>
		</div>
	</div>
			{% endif %}
	{% set i=i+1 %}

{% endfor %}
		</div>
		{% set i=0 %}

		<div class="faq_column">

			{% for record in records %}
			{% if i%2 == 1 %}
			<div class="faq-block"  style="float:right;" >

				<div class="faq__arrow-block-wrapper">
					<div class="faq__arrow-block faq-open" to="{{record.id}}" id="arrow-{{record.id}}"></div>
				</div>

				<div class="faq__content">
					<div class="faq__title faq-open" to="{{record.id}}">
						{{record.title}}
					</div>

					<div class="faq__body" id="body-{{record.id}}">
						{{record.content}}
					</div>
				</div>
			</div>
			{% endif %}
			{% set i=i+1 %}

			{% endfor %}


		</div>


	<div style="clear:both;"></div>

</div>

</div>

<script>

	$('.faq-open').click(function(){

		$('#body-'+$(this).attr('to')).slideToggle({
				duration:200
		});

		$('#arrow-'+$(this).attr('to')).toggleClass("faq__arrow-block_active");
	})

</script>