title = "Парк Революции"
url = "/"
layout = "main-layout"
is_hidden = 0

[builderList events]
modelClass = "Nikita\Content\Models\Event"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = 1
sortColumn = "date"
sortDirection = "asc"

[builderList]
modelClass = "Nikita\Content\Models\Slide"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<div class="page-wrapper">

{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

    <div class="slider">

        {% for record in records %}
        <img src="/storage/app/media/{{record.image}}" class="slider__item">

        {% endfor %}

    </div>


    <script type="text/javascript" src="/themes/new-design/assets/sources/slick-master/slick/slick.js"></script>
    <script>

        $(".slider").slick({
            autoplay: true
        });

    </script>

    <div class="standard-block page__links">

        <a href="/aboutpark">
            <div class="page__link">

                <img src="/themes/new-design/assets/images/link_aboutpark.svg">
                <br>
                О ПАРКЕ

            </div>
        </a>

        <a href="/news">
            <div class="page__link page__link_grey">

                <img src="/themes/new-design/assets/images/link_news.svg">
                <br>
                НОВОСТИ
            </div>
        </a>

        <a href="/attractions">
            <div class="page__link">

                <img src="/themes/new-design/assets/images/link_attractions.svg">
                <br>
                АТТРАКЦИОНЫ
            </div>
        </a>

        <a href="/places">
            <div class="page__link">

                <img src="/themes/new-design/assets/images/link_places.svg">
                <br>
                МЕСТА
            </div>
        </a>


    </div>


    <div class="standard-block page__title">МЕРОПРИЯТИЯ И АКЦИИ</div>

    <div class="standard-block events">

        {% set records = events.records %}
        {% set displayColumn = events.displayColumn %}
        {% set noRecordsMessage = events.noRecordsMessage %}
        {% set detailsPage = events.detailsPage %}
        {% set detailsKeyColumn = events.detailsKeyColumn %}
        {% set detailsUrlParameter = events.detailsUrlParameter %}



        {% for event in records %}

        <div class="events__item" style="background-image: url('/storage/app/media/{{event.image}}')">

            <div class="events__item__title">

                {{event.title | raw}}

            </div>
            <div class="events__item__description">
                {{event.content | raw}}
            </div>
            <a href="/event/{{event.id}}"><div class="events__item__link">ЧИТАТЬ ДАЛЕЕ</div></a>
           {% if event.title %} <div class="events__item__opacity"></div> {% endif %}
        </div>


        {% endfor %}


    </div>

    <script src="/themes/new-design/assets/sources/jTruncate.js"></script>

    <script>
        $('.events__item__description').jTruncate(  {
                    length:80
                }
        );
    </script>


    <div class="bottom-marker">

        <img src="/themes/new-design/assets/images/bottom-marker.jpg">


    </div>

    <div class="commercial standard-block">

        <div class="commercial__title">РАЗМЕЩЕНИЕ РЕКЛАМЫ В <span class="color-green">ПАРКЕ</span></div>

        <div class="commercial__text">
        Вы можете разместить свою рекламу на территории парка.<br>
        Предлагаем Вам использовать возможности парка: подпроведение корпоративных мероприятий, праздников, промо-мероприятий,
        размещение рекламного баннера.<br><br>

            К Вашим услугам:<br>
            <ul class="commercial__ul">
           <li> - Городок аттракционов открыт с апреля по октябрь</li>
           <li> - Кукольный театр под открытым небом</li>
            <li>- Возможность аренды сцен для проведения мероприятий различного масштаба.</li>
           <li> - Возможность проведения промо-акций, презентаций на территории парка;</li>
            <li>- Уникальная возможность провести День Рождения вашего ребенка на открытом воздухе;</li>
            <li>- Удобное расположение в центре города (Театральная площадь) с парковкой;</li>
            <li>- На корпоративные привозы действуют скидки.</li>
            </ul>

            <div class="commercial__small-text">По всем вопросам обращайтесь по номеру: 263-53-09, 8-904-343-92-18<br>
            Пишите на почту: ﻿ ali-kovalen@yandex.ru
            </div>
        </div>



    </div>



</div>