title = "Вакансии"
url = "/vacancies"
layout = "main-layout"
is_hidden = 0

[builderList]
modelClass = "Nikita\Content\Models\Vacancie"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==

<div class="page-wrapper">
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}


{% set i=1  %}
{% for record in records %}
<div class="standard-block page-href" href="vacancies">
    <div class="about-park block-margin">
        <div class="about-park__block about-park__left-block " style="{% if i%2 %} float:right; {% endif %}">
            <div class="about-park__left-block__content">
                <div class="vacancy__title">{{record.title}}</div>

                <div class="crop">


                        {{record.content |raw}}
                     


                </div>
            </div>
        </div>

        <div class="about-park__block about-park__right-block" style="background-image:url('/storage/app/media{{record.image}}'); ">
        </div>

        <div style="clear:both;"></div>

    </div>
</div>

{% set i=i+1 %}
{% endfor %}
</div>