@import "../fonts/Roboto%20Web%20/roboto.css";



body {
    margin:0;

}
.standard-block{
    width:1200px;
    margin: 60px auto;
}

.page-wrapper{
    min-width:1200px;
    width: 1200px;
    padding: 0 60px;
    margin:0 auto;
    font-family: Roboto;
    overflow: hidden;
}


.header{
    display: block;
    width: 100%;
    padding:230px 0;
    background: #545f5c;
    text-align: center;
    color:white;
}

.logo{
    height:80px;

}

.mobile-navigation{
    display: none;
}


.navigation__ul a{
	
	color:white;
}
.navigation{
    margin:15px 0 60px;
    width:100%;
    color: rgba(255, 167, 169, 0.25);
    background: #545f5c;
    font-weight: 300;
    font-size: 15px;

}

.navigation__ul{
    list-style: none;
    margin:  0 auto;
    width: 100%;
    text-align: center;
    padding: 0;

}

.navigation__ul li{
    margin:0 10px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    padding:20px 0;
}

.navigation__ul li{
    color:white;
    text-decoration: none;
    transition-duration: 0.4s;

}

.navigation__ul .active a{
    color: rgba(252, 252, 252, 0.57);

}

.navigation__ul a:hover li{
    color: rgba(252, 252, 252, 0.57);

}

.nav-bars{
    font-size: 25px;
}

.navigation__ul .nav-bars{
    padding-left:60px;

}

.about-park{
    display: table;
    width:100%;
}

.about-park__block{
    width:50%;
    max-width:50%;
    min-width: 50%;
    min-height:340px;
    float:left;
    background: #efeeeb;
    color: #545f5c;
    display: block;
}

a{
    text-decoration: none;
}

.about-park__left-block__content{
    margin:40px 40px 0px;
}

.about-park__right-block{
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;

}

.about-park__right-block img{
    height:100%;

}

.title{
    color: #545f5c;
    font-size:30px;
}

.separation-line{
    width:1200px;
    margin: 0 auto;
    height:1px;
    background: #505c5b;

}

.text-align-center{
    text-align: center;
}

.news{

}

.new-block{
    float:left;
    width:400px;
    min-height:600px;
    text-align: center;
    color: #545f5c;
    border-bottom:2px solid transparent;

}

.new-block__img{
    width:350px;
    height:350px;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;

}

.new-block a{
    color:#545f5c;

}

.new-block:hover{
    border-bottom:2px solid #545f5c;
}

.new-block:hover a{
    color: #71807d;

}

.new-block:hover .new-block__title{
    color: #71807d;

}

.new-block__text{
    text-align: left;
    width:320px ;
    margin: 0px auto 0;
    height:280px;
}

.new-block__title{
    margin:0 0 15px;
}

.event-block{
    width:360px;
    height:360px;
    max-height: 360px;
    margin:20px;
    background: #545f5c;
    color:white;
    float:left;
    font-weight: 300;
    font-size:15px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
}


.event-block a{
    color:white;
    text-decoration: none;
}


.event-block__content{
	position:absolute;
	bottom:0;
	margin:0 15px 15px;
	

}

.semi-opacity{
float:left;
    width: 100%;
    height:100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85),transparent);
    background-size: 100% 70%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.event-block__title{
    color:#fff;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 300;
}

.event-block .semi-opacity:hover{
    /*background-size: 100% 90%;*/
}

.button{
    width:250px;
    padding:12px 0;
    margin: 0 auto;
    font-weight: 500;
    font-size: 17px;
    transition-duration: 0.3s;
    cursor: pointer;
    background: transparent;
}

.button_margin{
    margin-top:60px;
}

.button_transparent{
    border:3px solid #545f5c;
    color:#545f5c;
}

.button:hover{
    background: #efeeeb;

}

.attractions{
    display: none;
    visibility:hidden;
    position: relative;
    z-index: 0;
     transition: visibility 10s, opacity 0.5s linear;
	width:100%;
}

.attractions__block{
    width:50%;
    max-width:50%;
    min-width:50%;
    min-height: 340px;
    float:left;
}

.attractions__left-block{
    background-color: #efeeeb;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.attractions__right-block{
    background: #efeeeb;
    color: #545f5c;
    text-align: left;
    vertical-align: middle;

}

.attractions__right-block__content{
    margin:90px 20px 0 90px;

}

.attractions__left-block img{
    height:100%;
}

.attractions__arrow-block{
    position: absolute;
    z-index: 2;
    max-width:50px;
    max-height:50px;
    padding:20px;
    border:3px solid #545f5c;
    background: #efeeeb;
    margin: auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    cursor: pointer;
    transition: 0.4s;
    -webkit-user-select: none;

}

.attractions__arrow{
    width:30px;
    margin: auto;
    top:0;
    bottom:0;
    position: absolute;
    left:0;
    right:0;
}

.attractions__arrow-block:hover{
    background: #fff;

}

.place-block{
    width:260px;
    float:left;
    text-align: center;
    font-size:18px;
    font-weight: 300;
    color:#545f5c;
    padding:0 20px 50px;

}
.place-block__img{
    width:200px;
    height:150px;
    margin:0 auto 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.place-block img{
    width:150px;
    margin:0 0 15px;

}

.service-block{
    width:360px;
    height: 360px;
    margin:0 20px 20px;
    background-color: #545f5c;
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: center;
    color:white;
    float:left;
    font-weight: 300;
    font-size:15px;
}


.service-block__title{
    color:#fff;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 300;
}

.service__content{

    margin:220px 40px 0;

}

.cooperation{
    width:700px;
    font-size:16px;
    color:#545f5c;
}

.footer{
    width:100%;
    min-width: 1200px;
    padding: 40px 0 20px;
    background: #545f5c;
    margin:20px 0 0;
    color:white;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
}

.footer-block{
    float:left;
    width:300px;
    height:300px;
}

.footer__logo{
    margin:0 0 20px 20px;
}

.history-page{
    position: relative;
    display: none;
}

.history-page__block{
    width:50%;
    max-width: 50%;
    min-height:400px;
    max-height: 400px;
    float:left;
    background: #efeeeb;
    color: #545f5c;
}

.history-page__left-block__content{
    margin:100px 90px 70px 60px;
}

.history-page__right-block{
    background-color:#efeeeb;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.history-linear-nav{
    width: 1200px;
    text-align: justify;
    position: relative;
}

.history-linear-nav:after{
    content:'';
    display: inline-block;
    width:100%;
}

.history-linear-nav__item{
    border-radius: 50% 50%;
    width:10px;
    height:10px;
    background: #545f5c;
    border: 4px solid transparent;
    position: relative;
}

.history-linear-nav__item-wrapper{
    border: 5px solid transparent;
    border-radius: 50% 50%;
    display:inline-block;
    position: relative;
    z-index: 2;
    cursor: pointer;
    background: transparent;
}

.history-linear-nav__item-wrapper:hover{
    border: 5px solid #545f5c;
}

.history-linear-nav__item-wrapper_active{
    border: 5px solid #545f5c;

}

.history-linear-nav__item-wrapper_active .history-linear-nav__item{
    border: 4px solid #fff;

}

.history-linear-nav__item-wrapper:hover .history-linear-nav__item{
    border: 4px solid #fff;

}

.history-linear-nav__line-through{
    width: 1190px;
    height:5px;
    position: absolute;
    top:0;
    bottom:2px;
    left:0;
    right:0;
    margin:auto auto;
    background: #efeeeb;
    z-index: 1;
    cursor: default;
}

.history-linear-nav__item__year{
    position: absolute;
    left:-22px;
    right:0;
    top:30px;
    font-size: 25px;
    color: #545f5c;
    display: none;
}

.history-linear-nav__item-wrapper_active .history-linear-nav__item__year{
    display: block;
}

.history-page-wrapper{
    position: relative;
    z-index: 1;
}

.history-page_active{
    display:block;
}

.attractions__arrow_not-active{
    cursor: default;
    background: #bdbcba;

}

.attractions__arrow_not-active .attractions__arrow{
    /*transform: rotate(90deg);*/
    /*right:10px;*/

}

.attractions__arrow_not-active:hover{
    background: #bdbcba;
}

.gallery-block{
    height:600px;
    background: #efeeeb;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}

.gallery__arrow-block{

}

.gallery__arrow-block{
    position: absolute;
    z-index: 2;
    max-width:40px;
    max-height:40px;
    width:200px;
    height:200px;
    border:3px solid rgb(84, 95, 92);
    background: rgb(239, 238, 235);
    margin: 0 auto;
    left:0;
    right:0;
    bottom:20px;
    opacity: 0.4;


    cursor: pointer;
    transition: 0.4s;
}

.gallery__arrow{
    width:20px;
    margin: auto;
    top:0;
    bottom:0;
    position: absolute;
    left:0;
    right:0;
    -webkit-user-select: none;

}

.gallery__arrow-block_left{
    left:-65px;

}

.gallery__arrow-block_right{
    right:-65px;
}

.gallery__arrow-block_left img{
    transform: rotate(180deg);

}

.gallery__right{
    width:50%;
    height:100%;
    float:right;
    transition-duration: 0.4s;

}

.gallery__right:hover{
    background: rgba(239, 238, 235, 0.18);
    cursor: pointer;
}

.gallery__left{
    width:50%;
    height:100%;
    float:left;
    transition-duration: 0.4s;

}

.gallery__left:hover{
    background: rgba(239, 238, 235, 0.18);
    cursor: pointer;
}

.gallery__left:hover .gallery__arrow-block{
    opacity: 1;

}
.gallery__right:hover .gallery__arrow-block{
    opacity: 1;
}

.attractions_active{
    display: table;
	visibility:visible;
}

.navigation__ul .active{
    color: rgba(252, 252, 252, 0.57);
}

.map-block{
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;

}

.map-block img{
    width:100%;
}

.event__image {
    background-color: #efeeeb;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    text-align: center;
    float: right;
    margin-left:50px;
}

.event__image img{
    width: 500px;
}

.event__title{
    margin:0 0 10px 30px;
}

.event__date{
    margin:0 0 20px 30px;
    font-size: 20px;
    color: #545f5c;

}

.event__content{
    color: #545f5c;

}

.faq-block{
    width:50%;
    float:left;
    color: #545f5c;
    display: table;
    margin-bottom:50px;
}

.faq__title{
    font-size:23px;
    margin:0 0 20px 20px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.faq__arrow-block{
    width:40px;
    height:40px;
    border:3px solid #545f5c;
    display: inline-block;
    margin-right:10px;
    margin-bottom:10px;
    background-color: #efeeeb;
    background-image: url(http://localhost:8888/themes/main-theme/assets/images/arrow-right.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.5s;

}

.faq__arrow-block_active{
    transform:rotate(90deg);
}

.faq__body{
    font-size:17px;
    display: none;
    margin:0 0 0 20px;
    position: absolute;
    width:440px;
    background-color: #efeeeb;
    padding:15px;



}

.faq__arrow-block-wrapper{
    height:100%;
    display: table-cell;
    vertical-align: top;
    width:50px;
}

.faq__content{
    display: table-cell;
    vertical-align: top;
    text-align: left;

}

.footer__link{
	width:30px;
	margin-right:15px;
	target:black;
}