@media (max-width: 1000px) {
  .header {
    max-width: 1000px;
  }
  .header__social-block {
    background: #F1F1F3;
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
  }
  .header__social {
    margin-left: 0;
    letter-spacing: 0;
    border-left: 0;
    border-right: 0;
    display: inline-block;
    max-width: 1000px;
  }
  .header__social-link {
    vertical-align: middle;
    padding: 10px;
    float: left;
    width: 26px;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-left-color: #D4D4D7;
    margin: 0;
  }
  .header__social-link img {
    height: 18px;
  }
  .header__social-link:hover {
    background: #dcdcdf;
  }
  .header__social a:first-child .header__social-link {
    border-left-color: transparent;
  }
  .header__logo-block {
    max-width: 1000px;
  }
  .footer {
    display: none;
  }
}
@media (max-width: 900px) {
  .header__logo-block {
    width: 100%;
    text-align: center;
    position: relative;
    padding: 24px 0;
    max-width: 1440px;
    margin: 0 auto;
  }
  .header__logo-block__left {
    height: 90px;
    background-position-x: -10px;
    background-size: 90px;
  }
  .header__logo-block__right {
    top: 0;
    position: absolute;
    right: 0;
    height: 90px;
    width: 200px;
    background: url('/themes/new-design/assets/images/header_right.svg') right no-repeat;
    background-position-x: 125px;
    background-position-y: -12px;
    background-size: 82px;
  }
  .header__logo {
    height: 42px;
  }
  .header__nav-bg {
    max-width: 900px;
    position: relative;
    height: 49px;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 41;
  }
  .header__nav-bg_fixed {
    position: fixed;
  }
  .header__nav {
    margin: 0 auto;
    position: absolute;
    z-index: 40;
    background: #98C15C;
    display: none;
  }
  .header__nav a:visited .header__nav__item {
    color: black;
  }
  .header__nav a:visited .header__nav__it em_active {
    color: white;
  }
  .header__nav a:hover .header__nav__item {
    color: white;
  }
  .header__nav a .header__nav__item {
    color: black;
  }
  .header__nav a .header__nav__item_active {
    color: white;
  }
  .header__nav__item {
    padding: 13px 22px;
    display: block;
    font-size: 18px;
    transition: 0.3s;
    font-family: "SourceSansPro regular";
    border-bottom: 1px solid #6F7072;
  }
  .header__nav__item_active {
    font-family: "SourceSansPro bold";
    color: white;
  }
  .header__nav a:last-child .header__nav__item {
    border-bottom: 0;
  }
  .header__bars {
    display: block;
    height: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    z-index: 51;
  }
  .fixed-header-space {
    height: 49px;
    background: #98C15C;
  }
}
