title = "Новости"
url = "/news"
layout = "main-layout"
is_hidden = 0

[posts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "Отсутсвие постов"
sortOrder = "published_at desc"
postPage = "ecology"
==
<div class="standard-block news">
    <div class="standard-block title text-align-center">
        НОВОСТИ
    </div>

    {% for post in posts %}

   <div class="new-block">
       <a href="/new/{{post.id}}"> <div class="new-block__img" style="background-image:url('/storage/app/media{{ post.image }}');"></div>
       <div class="new-block__text">
            <div class="title new-block__title">{{ post.title }}</div>
            <div class="new-crop">{{ post.content|raw }}</div>
        </div></a>
    </div>

    {% endfor %}

    <div style="clear:both;"></div>
</div>

