[builderDetails logo]
modelClass = "Nikita\Content\Models\Other"
identifierValue = 2
modelKeyColumn = "id"
displayColumn = "image"
notFoundMessage = "Record not found"

[builderDetails phone]
modelClass = "Nikita\Content\Models\Other"
identifierValue = 3
modelKeyColumn = "id"
displayColumn = "content"
notFoundMessage = "Record not found"

[builderDetails adress]
modelClass = "Nikita\Content\Models\Other"
identifierValue = 4
modelKeyColumn = "id"
displayColumn = "content"
notFoundMessage = "Record not found"

[builderDetails email]
modelClass = "Nikita\Content\Models\Other"
identifierValue = 5
modelKeyColumn = "id"
displayColumn = "content"
notFoundMessage = "Record not found"
==
<html>
<head>
    <link href="\themes/main-theme/assets/css/index.css" rel="stylesheet">
    <!--{#<link href="themes/main-theme/assets/css/mobile-980.css" rel="stylesheet">#}-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <title>{{this.page.title}}</title>
</head>
<body>
	
{% set recordLogo = logo.record %}
{% set displayColumn = logo.displayColumn %}
{% set notFoundMessage = logo.notFoundMessage %}
<div class="page-wrapper">
    <div class="header">
        <img src="/storage/app/media/{{ recordLogo.image}}" class="logo">
        <div class="mobile-navigation">

            <!--<i class="fa fa-bars"></i>-->

        </div>
    </div>

    <div class="navigation">

        <ul class="navigation__ul">
           <a href="/" id="nav-index" > <li > ГЛАВНАЯ</li></a>
            <a href="history" id="nav-history"> <li>ИСТОРИЯ </li></a>
            <a href="map" id="nav-map"> <li>КАРТА ПАРКА</li></a>
           <a href="friends" id="nav-friends"> <li> ДРУЗЬЯ ПАРКА</li></a>
           <a href="ecology" id="nav-ecology"> <li> ЭКОЛОГИЯ</li></a>
             <a href="gallery" id="nav-gallery"><li> ФОТОГАЛЕРЕЯ </li></a>
            <a href="vacancies" id="nav-vacancies"><li> ВАКАНСИИ</li></a>
        </ul>

    </div>

    {%page%}

</div>
   
	{% set adress = adress.record %}
	{% set phone = phone.record %}
		{% set email = email.record %}

<div class="footer">

    <div class="standard-block">

        <div class="footer-block">

            <div class=" footer__logo"><img src="/storage/app/media/{{ recordLogo.image}}" class="logo"></div>

            <p>{{phone.content | raw}}</p>
            <p>{{adress.content | raw}}</p>
            <p>{{email.content | raw}}</p>

        </div>
        <div class="footer-block">
            <p></p>

        </div>
        <div class="footer-block">
            <p>lorem ipsum</p>
            <p>lorem ipsum</p>
            <p>lorem ipsum</p>
            <p>lorem ipsum</p>
            <p>lorem ipsum</p>
            <p>lorem ipsum</p>
        </div>
        <div class="footer-block">
            <p>lorem ipsum</p>
            <p>lorem ipsum</p>
            <p>lorem ipsum</p>
            <p>lorem ipsum</p>
            <p>lorem ipsum</p>
            <p>
            	<a href="http://www.facebook.com/groups/1585849241681476" target="_blank"><img class="footer__link"  src="themes/main-theme/assets/images/social.svg"></a>
            	<a href="http://www.vk.com/parkrevolyucii" target="_blank"><img class="footer__link" src="themes/main-theme/assets/images/social (1).svg"></a>
            	<a href="http://instagram.com/PARK_REVOLYUCII" target="_blank"><img class="footer__link" src="themes/main-theme/assets/images/icon.svg"></a>
            	<a href="http://www.ok.ru/parkrevolyucii" target="_blank"><img class="footer__link" src="themes/main-theme/assets/images/ok.png"></a>
            	</p>

        </div>

        <div style="clear: both"></div>
    </div>

</div>
<script src="\themes/main-theme/assets/js/jTruncate.js"></script>

<script>

$(function(){

    $('.about-park-crop').jTruncate(  {
                length:500
            }
    );

    $('.event-crop').jTruncate(  {
                length:160
            }

    );

    $('.new-crop').jTruncate(  {
                length:250
            }
    );

    $('#nav-'+$('.page-href').attr('href')).addClass('active');

    //$('.event-block, .service-block').hover(function(){

      //  $(this).css({

        //    "background-size":"100%"

    //    },200) },function(){
             //   $(this).css({
              //      "background-size":"contain"

               // },200)

   // }

   // )

});

</script>
<script>

</script>

</body>

</html>